
<div id="legend" class="component" rel="popover" trigger="manual" data-content="
                 <form class='form'>
                   <div class='controls'>
                     <label class='control-label'>表单名称</label> <input type='text' id='orgvalue' placeholder='请输入表单名称'>
                     <hr/>
                     <button class='btn btn-info' type='button'>确定</button><button class='btn btn-danger' type='button'>取消</button>
                   </div>
                 </form>" data-original-title="编辑属性" style="border-top: 1px solid white; border-bottom: none;">
    <input type="hidden" name="form_name" value="" class="leipiplugins" leipiplugins="form_name" shibie="">
    <legend class="leipiplugins-orgvalue">点击填写表单名</legend>
</div>
<div class="control-group component span4" rel="popover" trigger="manual" data-content="
   <form class='form'>
     <div class='controls'>
       <label class='control-label'>控件名称</label> <input type='text' id='orgname' placeholder='必填项'>
       <label class='control-label'>默认值</label> <input type='text' id='orgvalue' placeholder='默认值'>
       <label class='control-label'>可写权限</label>
       <select class='shenfen'>
         <option value=''>请选择</option>
         <option value='user_1'>学生</option>
         <option value='user_2'>班主任</option>
         <option value='user_3'>导员</option>
         <option value='user_4'>书记</option>
         <option value='user_5'>指导教师</option>
         <option value='user_6'>系主任</option>
         <option value='user_7'>院长</option>
       </select>
       <label class='control-label'>流程设置（如是双流程请选择）</label>
       <select class='flow'>
         <option value=''>请选择</option>
         <option value='flowA'>流程A</option>
         <option value='flowB'>流程B</option>
       </select>
       <hr/>
       <button class='btn btn-info' type='button'>确定</button><button class='btn btn-danger' type='button'>取消</button>
     </div>
   </form>" data-original-title="文本框控件" style="border-top: 1px solid white; border-bottom: none;">
    <!-- Text -->
    <label class="control-label leipiplugins-orgname">姓名</label>
    <div class="controls">
        <input name="leipiNewField" type="text" placeholder="默认值" title="姓名" value="" class="leipiplugins" leipiplugins="text" shenfen="user_1" flow="">
    </div>

</div>

<div class="control-group component span4" rel="popover" trigger="manual" data-content="
   <form class='form'>
     <div class='controls'>
       <label class='control-label'>控件名称</label> <input type='text' id='orgname' placeholder='必填项'>
       <label class='control-label'>默认值</label> <input type='text' id='orgvalue' placeholder='默认值'>
       <label class='control-label'>可写权限</label>
       <select class='shenfen'>
         <option value=''>请选择</option>
         <option value='user_1'>学生</option>
         <option value='user_2'>班主任</option>
         <option value='user_3'>导员</option>
         <option value='user_4'>书记</option>
         <option value='user_5'>指导教师</option>
         <option value='user_6'>系主任</option>
         <option value='user_7'>院长</option>
       </select>
       <label class='control-label'>流程设置（如是双流程请选择）</label>
       <select class='flow'>
         <option value=''>请选择</option>
         <option value='flowA'>流程A</option>
         <option value='flowB'>流程B</option>
       </select>
       <hr/>
       <button class='btn btn-info' type='button'>确定</button><button class='btn btn-danger' type='button'>取消</button>
     </div>
   </form>" data-original-title="文本框控件" style="border-top: 1px solid white; border-bottom: none;">
    <!-- Text -->
    <label class="control-label leipiplugins-orgname">班主任意见</label>
    <div class="controls">
        <input name="leipiNewField" type="text" placeholder="默认值" title="班主任意见" value="" class="leipiplugins" leipiplugins="text" shenfen="user_2" flow="">
    </div>

</div>

<div class="control-group component span4" rel="popover" trigger="manual" data-content="
   <form class='form'>
     <div class='controls'>
       <label class='control-label'>控件名称</label> <input type='text' id='orgname' placeholder='必填项'>
       <label class='control-label'>默认值</label> <input type='text' id='orgvalue' placeholder='默认值'>
       <label class='control-label'>可写权限</label>
       <select class='shenfen'>
         <option value=''>请选择</option>
         <option value='user_1'>学生</option>
         <option value='user_2'>班主任</option>
         <option value='user_3'>导员</option>
         <option value='user_4'>书记</option>
         <option value='user_5'>指导教师</option>
         <option value='user_6'>系主任</option>
         <option value='user_7'>院长</option>
       </select>
       <label class='control-label'>流程设置（如是双流程请选择）</label>
       <select class='flow'>
         <option value=''>请选择</option>
         <option value='flowA'>流程A</option>
         <option value='flowB'>流程B</option>
       </select>
       <hr/>
       <button class='btn btn-info' type='button'>确定</button><button class='btn btn-danger' type='button'>取消</button>
     </div>
   </form>" data-original-title="文本框控件" style="border-top: 1px solid white; border-bottom: none;">
    <!-- Text -->
    <label class="control-label leipiplugins-orgname">导员意见</label>
    <div class="controls">
        <input name="leipiNewField" type="text" placeholder="默认值" title="导员意见" value="" class="leipiplugins" leipiplugins="text" shenfen="user_3" flow="">
    </div>

</div>

<div class="control-group component span4" rel="popover" trigger="manual" data-content="
   <form class='form'>
     <div class='controls'>
       <label class='control-label'>控件名称</label> <input type='text' id='orgname' placeholder='必填项'>
       <label class='control-label'>默认值</label> <input type='text' id='orgvalue' placeholder='默认值'>
       <label class='control-label'>可写权限</label>
       <select class='shenfen'>
         <option value=''>请选择</option>
         <option value='user_1'>学生</option>
         <option value='user_2'>班主任</option>
         <option value='user_3'>导员</option>
         <option value='user_4'>书记</option>
         <option value='user_5'>指导教师</option>
         <option value='user_6'>系主任</option>
         <option value='user_7'>院长</option>
       </select>
       <label class='control-label'>流程设置（如是双流程请选择）</label>
       <select class='flow'>
         <option value=''>请选择</option>
         <option value='flowA'>流程A</option>
         <option value='flowB'>流程B</option>
       </select>
       <hr/>
       <button class='btn btn-info' type='button'>确定</button><button class='btn btn-danger' type='button'>取消</button>
     </div>
   </form>" data-original-title="文本框控件">
    <!-- Text -->
    <label class="control-label leipiplugins-orgname">书记意见</label>
    <div class="controls">
        <input name="leipiNewField" type="text" placeholder="默认值" title="书记意见" value="" class="leipiplugins" leipiplugins="text" shenfen="user_4" flow="">
    </div>

</div>

