<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        *{ margin:0; padding:0; list-style:none;}
        body{ font-size:12px;}
    </style>
</head>
<body>

<!--代码部分begin-->
<div id="menu">
    <!--二级菜单-->
    <div id="menu_con">
        <div class="tag" style="display:block">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th width="150">教师职位</th>
                    <th width="150">选择教师</th>
                </tr>
                </thead>
                <tbody>

                <tr class="text-c text-c2">
                    <td class="shenfen"></td>
                    <td class="text-c listorder"><input  style="width:30px;" attr-id="4" class="list" name="listorder" value=""/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" id="menu_sub" class="menu_sub2" name="提交"/>
    </div>
</div>
<!--代码部分end-->

</body>
</html>