<!DOCTYPE HTML>
<html>
<head>

    <title>表单详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="leipi.org">
    <link href="__STATIC__/css/bootstrap/css/bootstrap.css?2024" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/css/site.css?2024" rel="stylesheet" type="text/css"/>
    <style>

        #components {
            min-height: 600px;
        }

        #target {
            min-height: 200px;
            border: 1px solid #ccc;
            padding: 5px;
        }

        #target .component {
            border: 1px solid #fff;
        }

        #temp {
            width: 500px;
            background: white;
            border: 1px dotted #ccc;
            border-radius: 10px;
        }

        .popover-content form {
            margin: 0 auto;
            width: 213px;
        }

        .popover-content form .btn {
            margin-right: 10px
        }

        #source {
            min-height: 500px;
        }

        .title1{
            margin: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 30px;
            line-height: 40px;
            color: #ffffff;
            background-color: #5bc0de ;
            text-align: center;
        }
        .span1-4{
            width: 235px;
        }
        .span1-5{
            width: 1000px;
        }
        .span1-5 textarea{
            height: 50px;
            width: 980px;
        }
        .span1-6{
            width: 480px;
        }
    </style>
</head>
<body>
<button class='btn btn-info' id="tijiao" type='submit'>提交</button>
<span class="dropDown">
        <a class="dropDown_A btn btn-info" id="set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">设置审批人员</a>
    </span>
 <div style="margin:50px 110px;border:2px solid; border-color: #c6bebe" >
    <fieldset>
        {$html}
    </fieldset>
    </div>

<script type="text/javascript" src="__STATIC__/index/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/index/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<script type="text/javascript">
    //刚进入页面就渲染js
//    $(document).ready(function () {
//        var identity={$identity};
//        switch (identity){
//            case 1:$("input[shenfen!='user_1']").attr("readonly",true);
//                break;
//            case 2:$("input[shenfen!='user_2']").attr("readonly",true);
//                break;
//            case 3:$("input[shenfen!='user_3']").attr("readonly",true);
//                break;
//            case 4:$("input[shenfen!='user_4']").attr("readonly",true);
//                break;
//            case 5:$("input[shenfen!='user_5']").attr("readonly",true);
//                break;
//            case 6:$("input[shenfen!='user_6']").attr("readonly",true);
//                break;
//            case 7:$("input[shenfen!='user_7']").attr("readonly",true);
//                break;
//        }
//
        //给input 添加value 属性
        $("input").blur(function () {
            $(this).attr("value",$(this).val());
        });
//
//        $('#tijiao').click(function () {
//            var user_1='';
//            var user_2='';
//            var user_3='';
//            var user_4='';
//            var user_5='';
//            var user_6='';
//            var user_7='';
////            .control-group .controls .leipiplugins
//
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_1")
//                    user_1+=index+','
//            });
//
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_2")
//                    user_2+=index+','
//            });
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_3")
//                    user_3+=index+','
//            });
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_4")
//                    user_4+=index+','
//            });
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_5")
//                    user_5+=index+','
//            });
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_6")
//                    user_6+=index+','
//            });
//            $.each($("fieldset").find(".control-group .controls .leipiplugins"),function (index,value) {
//                if(value.getAttribute("shenfen")==="user_7")
//                    user_7+=index+','
//            });
//
//            //var length=$('fieldset').children().length-1;//获取提交的元素个数
//            var contents= $('fieldset').html();           //获取整个表单的样式
//            var formName=$('input[name="form_name"]').val();
//            var f_id={$f_id};
//            var  content={
//                'f_id':f_id,
//                'html':contents,
//                'formName':formName,
//                'user_1':user_1,
//                'user_2':user_2,
//                'user_3':user_3,
//                'user_4':user_4,
//                'user_5':user_5,
//                'user_6':user_6,
//                'user_7':user_7,
//            };
//            var url="{:url('form/studentformSubmit')}";
//            // 抛送http
//            $.post(url,content,function (result) {
//                //逻辑
////              if(result.code==1){
////                  location.href=result.data;
////              }else{
////                  alert(result.msg);
////              }
//            },"json");
//        });
//    });

    //学生填完表单做第一次转发
    $('#tijiao').click(function () {

        var contents= $('fieldset').html();
        var formName=$('input[name="form_name"]').val();
        var f_id={$f_id};
        var url="{:url('form/studentSub')}";
        var data={
            'f_id':f_id,
            'html':contents,
            'formName':formName
        };
        $.post(url,data,function (result) {

        });
    });

    //设置审批人员
    $('#set').click(function () {
        var str='';
        var f_id={$f_id};
        $("fieldset").find(".control-group .controls .leipiplugins").each(function (index,data) {
                if ($(this).attr("shenfen")!='user_1') {
                    str += $(this).attr("shenfen") + '/';
                }
        });
        //判断是否已经选择老师
        var url2="{:url('form/judge')}";
        var da2={
          'f_id':f_id
        };
        $.post(url2,da2,function (result) {
            //如果已经选择显示选择了谁
            if (result.status==1){
                var url1="{:url('form/selectTeacher')}";
                var da={
                    'f_id':f_id,
                    'data_po':str,
                };
                $.post(url1,da,function (data) {
                    attrbut(data,'以设置的审批人员');
                });
            }else{

                var url='{:url('form/findTeacher')}';
                var data={
                    'data_po':str,
                    'f_id':f_id,
                };
                $.post(url,data,function (data) {
                    attrbut(data,'请设置审批人员');
                });
            }
        });

        function attrbut(re,title) {
            var title = title;
            var index = layer.open({
                type: 1,
                title: title,
                offset:['10px','400px',],
                content:re,
            });
            layer.style(index, {
                width: '370px',
                height:'550px',
            });
        }
    });

    $('.qianzi').click(function () {
        var num=$('.qianzi').index(this);

        var url="{:url('form/qianzi')}";
        var data={
            'num':num
        };
        $.post(url,data,function (result) {
            layer.open({
                type: 1,
                title:'签字区域',
                area: ['700px', '450px'],
                fixed: false, //不固定
                maxmin: true,
                content: result
            });
        });

    });
</script>

