<html>
<head>

    <title> Formbuild.leipi.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="leipi.org">
    <link href="__STATIC__/css/bootstrap/css/bootstrap.css?2024" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/css/site.css?2024" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="text-align: right;margin: 7px 47px -11px 40px" class="print-preview">
    <div>
        <button class='btn' id="tijiao1" type='submit'>设置表单样式</button>
    </div>
</div>
<hr>
<div style="margin:35px 50px;width:1029px; height:auto; border:2px solid; border-color: #c6bebe" >
    <fieldset class="myfieldset">
        {$html}
    </fieldset>
</div>
<script type="text/javascript">
    $('#tijiao1').click(function () {
        var contents= $('.myfieldset').html();//获取表单
        $('.parent').html(contents);
        // $("textarea").css("resize","none");//将多行文本设置为不可抻拉 resize:none
        // var formName=$('input[name="form_name"]').val();

        // var url="{:url('form/modifyHtml')}";
        // var content={
        //     'html':contents
        // };
        // $.post(url,content,function (){
        //
        // });
    });
</script>
<!--代码部分end-->

</body>
</html>