<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Canvas签名Demo</title>

    <link rel="stylesheet" href="__STATIC__/index/form/css/esignDemo.css">
</head>
<body>

<div class="canvasDiv">
    <div id="editing_area">
        <canvas width="600" height="250" id="canvasEdit"></canvas>
    </div>
</div>

<div class="imgDiv div1" style="display: none">
    <span id="sign_show"></span>
</div>


<div class="imgDiv div2"style="display:none">
    <span id="sign_show"></span>
</div>


<div class="btnDiv">
    <a id="sign_clear" class="clearBtn">清除</a>
    <a id="sign_ok" class="okBtn">确认</a>
</div>

<script type="text/javascript" src="__STATIC__/index/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/form/js/esign.js"></script>
<script type="text/javascript">
        //初始化动作，根据DOM的ID不同进行自定义，如果不写则内部默认取这四个
        $().esign("canvasEdit", parent.$('.qianzi'), "sign_clear", "sign_ok");



</script>

</body>
</html>