<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 > 我的消息 > 已读消息 </nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="100">表单名称</th>
                <th width="40">发信人</th>
                <th width="40">消息内容</th>
                <th width="50">消息发送时间</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            {volist name="mesInfo" id="vo"}
            <tbody>
            <tr class="text-c">
                <td><a style="text-decoration:none" class="ml-5" onClick="showMessage('{$vo.id}')" href="javascript:;" title="查看">{$vo.formName}</a></td>
                <td>{$vo.fromUsername}</td>
                <td>{$vo.content}</td>
                <td>{$vo.create_time|date="Y-m-d H:NN",###}</td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="article_del(this,'{$vo.id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            </tbody>
            {/volist}
        </table>
        <div class="cl pd-5 bg-1 bk-gray mt-20 cccop">{$mesInfo->render()}</div>
    </div>

</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript">
    function showMessage(id) {
        var url="{:url('form/showMessage')}";
        var data={
            'mes_id':id
        };

        $.post(url,data,function (result) {
            layer.open({
                type: 1,
                title:'查看消息',
                area: ['700px', '350px'],
                fixed: false, //不固定
                maxmin: true,
                content: result,
                cancel: function(index, layero){
                    location.reload();
                    return false;
                }
            });

        });
    }
    function ann_article(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    function article_del(obj,id){
        var r=confirm("确认要删除吗？")
        if (r==true)
        {
            var del_id={
                'id':id,
            };
            var url="{:url('form/delmess')}";
            $.post(url,del_id,function (result) {
                //逻辑
                if(result.status==1){
                    location.reload();
                }
            },"json");
        }else{}
    }
</script>
