<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
    </style>
</head>
<div class="span6" style="margin-bottom: 27px">
    <span id="change">来自</span>：{$fromUsername}
</div>

<div class="span6">
    <textarea class="content" style="width: 647px;height: 127px">{$content}</textarea>
    <button type="submit" id="relay" class="btn"  style="margin-left: 605px;" >回复</button>
    <button type="submit" id="send"  class="btn"  style="margin-left: 605px; display:none;" >发送</button>
</div>

<script type="text/javascript">
    $('#relay').click(function () {
        $("textarea").val('');
        $('#relay').css("display","none");
        $('#send'). css("display","block");
        $("#change").text('发送至');
    });

    $('#send').click(function () {
        var data={
            'from':'{$from}',
            'to':'{$to}',
            'content':$('.content').val(),
            'formName':'{$formName}',
        };
        var url="{:url('form/relayMessage')}";
        $.post(url,data,function (result) {
            if(result.status=1){
                layer.closeAll();
            }
        });
    });
</script>
</body>
</html>