<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  首页 > 实习审批表 > 公告管理</nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="100">表单名称</th>
                <th width="40">表单分类</th>
                <th width="40">表单来源</th>
                <th width="50">开始时间</th>
                <th width="50">截至时间</th>
                <th width="60">状态</th>
            </tr>
            </thead>
            <tbody>
        {volist name="formData" id="vo"}
            <tr class="text-c">
                {if condition="$vo.status neq true"}
                <td><a style="text-decoration:none" class="ml-5" onClick="ann_article('表单详情','{:url('form/formDetail',['f_id'=>$vo.id])}')" href="javascript:;" title="查看">{$vo.formName}</a></td>
                {else}
                <td>{$vo.formName}</td>
                {/if}
                <td>计算机</td>
                <td>教务处</td>
                <td>{$vo.start_time}</td>
                <td>{$vo.end_time}</td>
                {if condition="$vo.status neq true"}<td style="color: #00EE00;">系统开放中...</td>
                {else}<td style="color:#FF4040">填表时间已过期</td>
                {/if}
            </tr>
            {/volist}
            </tbody>
        </table>
        <div class="cl pd-5 bg-1 bk-gray mt-20 cccop">{$formData->render()}</div>
    </div>

</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript">
    function ann_article(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>
