<?php use think\Session;use think\Db; Session::start();?>
{include file="public/header" /}
<body style="background-color:rgba(219,214,218,0.48); ">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 今日审批 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c" style="padding-top: 15px;background-color: rgba(193,188,192,0.33);width: 100%;height: 70px;">
        <marquee behavior="scroll" scrollAmount="9" width="100%" direction="right" loop="-1"><h3 style="font-weight:200" ><?php echo Db::table('cop_announce')->where('id',6)->value('ann_content')?></h3></marquee>
    </div>
    {if condition="$_SESSION['identity'] eq 0"}
    <div >
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fd4d4f;">
                    <p style="font-size: 25px;color: white;"><strong>也就努努</strong>&nbsp;&nbsp;(元)</p>
                    <p style="font-size: 25px;color: white;"><strong>0.00</strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;color: white;padding-top: 20px;">折扣<span>&nbsp;&nbsp;0.00元</span></p>
                    <p style="font-size: 20px;color: white;">抹零<span>&nbsp;&nbsp;0.00元</span></p>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff"style="height: 200px;border:0;background-color:#4bacf5">
                    <p style="font-size: 25px;color: white;"><strong>销售单</strong>&nbsp;&nbsp;(笔)</p>
                    <p style="font-size: 25px;color: white;"><strong>0</strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;color: white;padding-top: 20px;">食堂<span>&nbsp;&nbsp;0笔</span></p>
                    <p style="font-size: 20px;color: white;">外卖<span>&nbsp;&nbsp;0笔</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #1fe26d;">
                    <p style="font-size: 25px;color: white;"><strong>会员充值</strong>&nbsp;&nbsp;(元)</p>
                    <p style="font-size: 25px;color: white;"><strong>0.00</strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;color: white;padding-top: 20px;">充值笔数<span>&nbsp;&nbsp;0笔</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fbc31a;">
                    <p style="font-size: 25px;color: white;"><strong>退单额</strong>&nbsp;&nbsp;(元)</p>
                    <p style="font-size: 25px;color: white;"><strong>0.00</strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;color: white;padding-top: 20px;">退单笔数<span>&nbsp;&nbsp;0笔</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div  style="min-height: 135px;margin-bottom: 30px;padding: 20px;height: 135px;border-right:1px solid gainsboro;">
                    <p style="font-size: 25px;color: rgba(41,41,41,0.86);"><strong>收入</strong>&nbsp;&nbsp;(元)</p>
                    <p style="font-size: 25px;color: red;"><strong>0.00</strong></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <div  style="min-height: 135px;margin-bottom: 20px;padding: 20px;height: 135px;border-right:1px solid gainsboro;">
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">现金</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">银行卡</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <div  style="min-height: 135px;margin-bottom: 20px;padding: 20px;height: 135px;border-right:1px solid gainsboro;">
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">支付宝</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">积分</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <div  style="min-height: 135px;margin-bottom: 20px;padding: 20px;height: 135px;border-right:1px solid gainsboro;">
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">微信</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">其他</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <div  style="min-height: 135px;margin-bottom: 20px;padding: 20px;height: 135px;">
                    <p style="font-size: 20px;color: rgba(90,90,90,0.51);">储值卡</p>
                    <p style="font-size: 20px;color: rgba(57,57,57,0.84);"><strong>0.00元</strong></p>
                </div>
            </div>
        </div>
    </div>
    {elseif condition="($_SESSION['identity'] eq 2) OR ($_SESSION['identity'] eq 3) OR ($_SESSION['identity'] eq 4) OR ($_SESSION['identity'] eq 5) OR ($_SESSION['identity'] eq 6) OR ($_SESSION['identity'] eq 7)"}
    <div >
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fd4d4f;">
                    <p style="font-size: 25px;color: white;"><strong>我的任务</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="{:url('form/formshow')}" style="text-decoration: none"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">未审批<span>&nbsp;&nbsp;{$unexamineNums}个</span></p></a>
                    <a href="{:url('form/unformshow')}" style="text-decoration: none"><p style="font-size: 20px;text-align:center;color: white;">已审批<span>&nbsp;&nbsp;{$examineNums}个</span></p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff"style="height: 200px;border:0;background-color:#4bacf5">
                    <p style="font-size: 25px;color: white;"><strong>系统公告</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">总共<span>&nbsp;&nbsp;{$annNums}条</span></p>
                    <p style="font-size: 20px;text-align:center;color: white;"><span>&nbsp;&nbsp;</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #1fe26d;">
                    <p style="font-size: 25px;color: white;"><strong>我的学生</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;color: white;padding-top: 20px;"><span>&nbsp;&nbsp;</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fbc31a;">
                    <p style="font-size: 25px;color: white;"><strong>我的消息</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong><span></span></p>
                    <hr style="color: white;">
                    <a href="#" style="text-decoration: none" onclick="memeber_add('已读信息','{:url(\'form/readMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已看<span>&nbsp;&nbsp;{$readnum}条</span></p></a>
                    <a href="#" style="text-decoration: none" onclick="memeber_add('未读信息','{:url(\'form/unreadMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;">未看<span>&nbsp;  {$unreadnum}条</span></p></a>
                </div>
            </div>
        </div>
    </div>
    {else /}
    <div >
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fd4d4f;">
                    <p style="font-size: 25px;color: white;"><strong>我的任务</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a style="text-decoration: none" href="{:url('form/studentshowfrom')}"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">待处理<span>&nbsp;&nbsp;{$pendingTest}个</span></p></a>
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;">已处理<span>&nbsp;&nbsp;{$progressTest}个</span></p></a>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff"style="height: 200px;border:0;background-color:#4bacf5">
                    <p style="font-size: 25px;color: white;"><strong>系统公告</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">总共<span>&nbsp;&nbsp;{$annNums}条</span></p>
                    <p style="font-size: 20px;text-align:center;color: white;"><span>&nbsp;&nbsp;</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #1fe26d;">
                    <p style="font-size: 25px;color: white;"><strong>审批进度</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已完成<span>&nbsp;&nbsp;{$endTask}个</span></p></a>
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;">进行中<span>&nbsp;&nbsp;{$task}个</span></p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fbc31a;">
                    <p style="font-size: 25px;color: white;"><strong>我的消息</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="#" style="text-decoration: none" onclick="memeber_add('已读信息','{:url(\'form/readMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已看<span>&nbsp;&nbsp;{$readnum}条</span></p></a>
                    <a href="#" style="text-decoration: none" onclick="memeber_add('未读信息','{:url(\'form/unreadMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;">未看<span>&nbsp;  {$unreadnum}条</span></p></a>
                </div>
            </div>
        </div>
    </div>
    {/if}
    <marquee behavior="scroll" width="100%" loop="-1" scrollamount="2" scrolldelay="2" onmouseout="this.start()" onmouseover="this.stop()"><h4 style="font-weight:200" ><?php $result = Db::table('cop_announce')->where('id',4)->value('ann_content');echo $result;?></h4></marquee>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    /*用户-添加*/
    function memeber_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-编辑*/
    function caipin_add(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-删除*/
    function caipin_add(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
</script>
</body>
</html>