<?php use think\Session;use think\Db; Session::start();?>
{include file="public/header"/}
<body style="background-color:rgba(219,214,218,0.48); ">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 今日审批 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c" style="background-color: rgba(193,188,192,0.33);width: 100%;height: 70px;">
        <marquee behavior="scroll" scrollAmount="9" scrolldelay="100" width="100%" direction="right" loop="-1"><h3 style="font-weight:200" ><a href="{:url('announce/ann_readdetail',['id'=>$id[0][$id]])}"><?php echo Db::table('cop_announce')->where('ann_status',1)->value('ann_content')?></a></h3></marquee>
    </div>
    {if condition="$_SESSION['identity'] eq 0"}
    <div>
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <h1 style="text-align: center">管理员使用说明</h1>
            <div style="margin-left: 492px; margin-top: 50px">
            <p>1.点击表单管理新增表单开始设计表单</p>
            <p>2.从右侧常用组件拖拽合适的表单组件</p>
            <p>3.每个组件都需要设置权限</p>
            <p>4.如果是单流程，则不需要设置AB流程，双流程则需要设置</p>
            <p>5.设计完表单后，点击设置审批流程，如果是双流程点击一次提交即可</p>
            <p>6.设置表单样式时只可拖拽多行文本组件</p>
            <p>7.发布前需要设置开始时间和结束时间</p>
            <p>8.以上操作确保无误后方可点击发布</p>
            </div>
        </div>
    </div>
    {elseif condition="($_SESSION['identity'] eq 2) OR ($_SESSION['identity'] eq 3) OR ($_SESSION['identity'] eq 4) OR ($_SESSION['identity'] eq 5) OR ($_SESSION['identity'] eq 6) OR ($_SESSION['identity'] eq 7) OR ($_SESSION['identity'] eq 8) OR ($_SESSION['identity'] eq 9)"}
    <div >
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fd4d4f;">
                    <p style="font-size: 25px;color: white;"><strong>我的任务</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="{:url('form/formshow')}" style="text-decoration: none"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">未审批<span>&nbsp;&nbsp;{$unexamineNums}个</span></p></a>
                    <a href="{:url('form/unformshow')}" style="text-decoration: none"><p style="font-size: 20px;text-align:center;color: white;">已审批<span>&nbsp;&nbsp;{$examineNums}个</span></p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff"style="height: 200px;border:0;background-color:#4bacf5">
                    <p style="font-size: 25px;color: white;"><strong>系统公告</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="/index/announce/ann_list.html" style="text-decoration: none"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">总共<span>&nbsp;&nbsp;{$annNums}条</span></p></a>
                    <p style="font-size: 20px;text-align:center;color: white;"><span>&nbsp;&nbsp;</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #1fe26d;">
                    <p style="font-size: 25px;color: white;"><strong>我的学生</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="#" style="text-decoration: none" onclick="memeber_add('学生实习审核详情','{:url('form/select_stu_detail',[\'id\' => $_SESSION[\'id\']])}')"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">学生详情<span>  {$user_stu}人</span></p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fbc31a;">
                    <p style="font-size: 25px;color: white;"><strong>我的消息</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong><span></span></p>
                    <hr style="color: white;">
                    <a href="#" style="text-decoration: none" onclick="memeber_add('已读信息','{:url(\'form/readMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已看<span>&nbsp;&nbsp;{$readnum}条</span></p></a>
                    <a href="#" style="text-decoration: none" onclick="memeber_add('未读信息','{:url(\'form/unreadMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;">未看<span>&nbsp;  {$unreadnum}条</span></p></a>
                </div>
            </div>
        </div>
    </div>
    {elseif condition="$_SESSION['identity'] eq 1"}
    <div >
        <div  style="padding-top: 20px;height:490px;width:100%;background-color: white;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fd4d4f;">
                    <p style="font-size: 25px;color: white;"><strong>我的任务</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a style="text-decoration: none" onclick="ifo_detail('请移步至个人信息模块将个人信息完善','<?php echo $_SESSION['id']?>')"  href="javascript:void(0)"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">待处理<span>&nbsp;&nbsp;{$pendingTest}个</span></p></a>
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;">已处理<span>&nbsp;&nbsp;{$progressTest}个</span></p></a>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff"style="height: 200px;border:0;background-color:#4bacf5">
                    <p style="font-size: 25px;color: white;"><strong>系统公告</strong>&nbsp;&nbsp;</p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">总共<span>&nbsp;&nbsp;{$annNums}条</span></p>
                    <p style="font-size: 20px;text-align:center;color: white;"><span>&nbsp;&nbsp;</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #1fe26d;">
                    <p style="font-size: 25px;color: white;"><strong>审批进度</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已完成<span>&nbsp;&nbsp;{$endTask}个</span></p></a>
                    <a style="text-decoration: none" href="{:url('form/progress')}"><p style="font-size: 20px;text-align:center;color: white;">进行中<span>&nbsp;&nbsp;{$task}个</span></p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box1 bg-fff" style="height: 200px;border:0;background-color: #fbc31a;">
                    <p style="font-size: 25px;color: white;"><strong>我的消息</strong></p>
                    <p style="font-size: 25px;color: white;"><strong></strong></p>
                    <hr style="color: white;">
                    <a href="#" style="text-decoration: none" onclick="memeber_add('已读信息','{:url(\'form/readMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;padding-top: 20px;">已看<span>&nbsp;&nbsp;{$readnum}条</span></p></a>
                    <a href="#" style="text-decoration: none" onclick="memeber_add('未读信息','{:url(\'form/unreadMessage\')}')"><p style="font-size: 20px;text-align:center;color: white;">未看<span>&nbsp;  {$unreadnum}条</span></p></a>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/index/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    /*用户-添加*/
    function memeber_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-编辑*/
    function caipin_add(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-删除*/
    function caipin_add(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    function ifo_detail(title,user_id){
        var data_post={
            'data_po':user_id,
        };
        //抛送逻辑
        var urls ="{:url('user/user_stu_detail')}";
        var primeurl = "{:url('form/studentShowFrom')}";
        $.ajax({
            type:"post",
            url:urls,
            data:data_post,
            dataType:"json",
            success:function (msg) {
                revert(msg);
            },
        });
        function revert(msg) {

            if (msg){
                layer.msg(title, {
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    //do something
//                    window.location.replace(primeurl);
                });

            }else {
                window.location.href = "{:url('form/studentShowFrom')}";
                console(msg);
            }
        }
    }
</script>
</body>
</html>