@charset "utf-8";

html, body{ height:100%}
body{font-size:14px;}
.header{ position:absolute; left:0; right:0; width:50%;z-index:99}
.header{top:9.3px; height:200px;left:350px; background: url(../images/xiaohui.jpg) no-repeat center}
.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1;}
.loginBox{ position:absolute;width:400px; height:360px; background:url(../images/admin-loginform-bg.png) no-repeat; left:59.2%; top:65%; margin-left:-309px; margin-top:-184px; padding-top:31px}
@media (max-width:617px) {
	.loginbox{ width:100%; position:static; margin-top:0; margin-left:0;}
}
.loginBox .row{margin-top:20px;}
.loginBox .row .form-label .Hui-iconfont{ font-size:24px}
.loginBox .input-text{ width:240px;}
@media (max-width:617px) {
	.loginBox .input-text{ width:80%}
}
.pass-label{float:left;margin-left:-73.5px}
.pass-text-input{width:120px;height:32px;float:left;color:#00ff00;font-size: larger}
.code_img{float:right;}


#ie6-warning{background:#fff url(/jscss/demoimg/201006/warning.gif) no-repeat 3px center;position:absolute;top:0;left:0;font-size:12px;color:#333;width:97%;padding: 2px 15px 2px 23px;text-align:left}
#ie6-warning a {text-decoration:none}