{include file="public/header"/}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公告信息 <span class="c-gray en">&gt;</span> 公告管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th>标题</th>
                <th>发布者</th>
                <th>发布时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            {volist name='ann' id='vo'}
            <tbody>
            <tr class="text-c">
                <td><input type="checkbox" value="{$vo.id}" name="shanchu"></td>
                <td>{$vo.id}</td>
                <td><a style="text-decoration:none" class="ml-5" onClick="ann_article('公告详情','{:url('announce/ann_article', ['id'=>$vo.id])}')" href="javascript:;" title="查看">{$vo.ann_title}</a></td>

                <td>{$vo.ann_author}</td>
                <td>{$vo.ann_time}</td>
                <td class="f-14 td-manage">
                    <a style="text-decoration:none" class="ml-5" onClick="article_edit(this,'{$vo.id}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            </tbody>
            {/volist}
        </table>
        <!--分页代码-->
     <div class="cl pd-5 bg-1 bk-gray mt-20 cccop">{$ann->render()}</div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/index/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="__STATIC__/index/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/index/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,5]}// 不参与排序的列
        ]
    });

    /*资讯-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*资讯-编辑*/
    function article_edit(obj,id){
        var edit_id = {
            'id':id,
        };
        var url="{:url('announce/ann_edit')}";
        $.post(url,edit_id,function (result) {
            //逻辑
//              if(result.code==1){
//                  location.href=result.data;
//              }else{
//                  alert(result.msg);
//              }
        },"json");
    }
    /*资讯-删除*/单条公告的删除
    function article_del(obj,id){
        var r=confirm("确认要删除吗？")
        if (r==true)
        {
            var del_id={
                'id':id,
            };
            var url="{:url('announce/del')}";
            $.post(url,del_id,function (result) {
                //逻辑
//              if(result.code==1){
//                  location.href=result.data;
//              }else{
//                  alert(result.msg);
//              }
            },"json");
        }else{}
    }
//公告的批量删除
    function datadel() {
        var r=confirm("确认都删除吗");
        if (r==true){
                obj = document.getElementsByName("shanchu");
                check_val = [];
                for(k in obj){
                    if(obj[k].checked)
                        check_val.push(obj[k].value);
                }
                var del_l_id = {
                    'ids':check_val,
                };
            var url="{:url('announce/del_l')}";
            $.post(url,del_l_id,function (result) {
                //逻辑
//              if(result.code==1){
//                  location.href=result.data;
//              }else{
//                  alert(result.msg);
//              }
            },"json");
        }
    }

    /*资讯-审核*/
    function article_shenhe(obj,id){
        layer.confirm('审核文章？', {
                btn: ['通过','不通过','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布', {icon:6,time:1000});
            },
            function(){
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                $(obj).remove();
                layer.msg('未通过', {icon:5,time:1000});
            });
    }
    /*资讯-下架*/
    function article_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!',{icon: 5,time:1000});
        });
    }

    function ann_article(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }


</script>
</body>
</html>