{include file="public/header"/}
    <style>
        #close{
            width: auto;
            height: 30px;
            margin-left: 1300px;
        }

        .readdetail{
            height:30px;
            line-height: 30px;
            padding-right: 30px;
            display: inline-block;
            background: url(__STATIC__/new/images/close.jpg) no-repeat;cursor: pointer;
        }
        .article-title h2 {
            background: white;
            font-size: 28px;
            line-height: 40px;
            font-weight: 700;
            font-family: "Microsoft Yahei", 微软雅黑, 宋体;
            text-align:center;
        }
        .article .article-source span {
            font-size: 13px;
            line-height: 2;
            color: #999;
        }
        .article-source{
            text-align:right;
            margin-right: 500px;
        }
        .article .article-source .date {
            margin: 0 9px 0 6px;
            text-align:center;
        }
        .article-content {
            margin:17px 350px;
        }
        div {
            display: block;
        }
        body{

        }
    </style>
</head>
<body>
<div id="close">
    <a class="readdetail" href="javascript:history.back(-1);"></a>
</div>
{volist name='ann' id='vo'}
<div class="article-title">
    <h2>{$vo.ann_title}</h2>
</div>

<div class="article-source">
    <span class="source">{$vo.ann_author}</span>
    <span class="date">{$vo.ann_time}</span>
</div>

<div class="article-content">
    {$vo.ann_content}
</div>
{/volist}
</body>
</html>
